a {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    padding: 16px 24px;
    --text-opacity: 1;
    color: #ffffff;
    color: rgba(255, 255, 255, var(--text-opacity));
    text-decoration: none;
}
